In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('AB_NYC_2019.csv')

In [3]:
print(f"Dataset: {df.shape}")

Dataset: (48895, 16)

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [6]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
no_reviews = df[df['last_review'].isnull()]
print(f"Listings with no reviews: {len(no_reviews)}")
print(f"Their number_of_reviews: {no_reviews['number_of_reviews'].unique()}")

Listings with no reviews: 10052
Their number_of_reviews: [0]

In [9]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
print(df['reviews_per_month'].isnull().sum())

0

In [11]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
df['name'] = df['name'].fillna('Unknown')
df['host_name'] = df['host_name'].fillna('Unknown')

print(df.isnull().sum())

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [12]:
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
print(df['last_review'].dtype)

datetime64[ns]

In [13]:
print("Price stats:")
print(df['price'].describe())
print(f"\nListings with $0 price: {(df['price'] == 0).sum()}")
print(f"Listings with price > $10,000: {(df['price'] > 10000).sum()}")

Price stats:
count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

Listings with $0 price: 11
Listings with price > $10,000: 0

In [14]:
print("Minimum nights stats:")
print(df['minimum_nights'].describe())
print(f"\nListings requiring 365+ nights: {(df['minimum_nights'] >= 365).sum()}")

Minimum nights stats:
count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Listings requiring 365+ nights: 43

In [15]:
df = df[df['price'] > 0]
df = df[df['minimum_nights'] < 365]

In [16]:
print(f"Rows after cleaning: {len(df)}")
print(f"Removed: {48895 - len(df)} rows")

Rows after cleaning: 48841
Removed: 54 rows

In [18]:

print("DATA CHECK")

print(f"\nTotal rows: {len(df)}")
print(f"\nMissing values:")
print(df.isnull().sum())

print(f"\nPrice range: ${df['price'].min()} - ${df['price'].max()}")
print(f"Minimum nights range: {df['minimum_nights'].min()} - {df['minimum_nights'].max()}")

print("\n Ready for use")

DATA CHECK

Total rows: 48841

Missing values:
id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10033
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Price range: $10 - $10000
Minimum nights range: 1 - 364

 Ready for use

In [19]:
df.to_csv('AB_NYC_2019_cleaned.csv', index=False)

In [21]:
print("Data is now ready for analysis")

Data is now ready for analysis